/* Reset moderno baseado no "modern-css-reset" de Andy Bell
   https://github.com/hankchizljaw/modern-css-reset (adaptado)
*/

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

html, body, #root, #__next {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}
